In [1]:
import pandas as pd

In [ ]:
game_raw = pd.read_csv('data/bc_game.csv') # some games and when they are played
streaming_packages_raw = pd.read_csv('data/bc_streaming_package.csv') # streaming packages with price
streaming_offers_raw = pd.read_csv('data/bc_streaming_offer.csv')  # which service offers which game, live? on-demand-highlights?
streaming_offers_raw

       game_id  streaming_package_id  live  highlights
0            1                     2     1           1
1            1                     3     1           1
2            1                     4     0           1
3            1                    10     0           1
4            1                    13     1           0
...        ...                   ...   ...         ...
32434     8864                    36     1           1
32435     8865                     2     0           1
32436     8865                    10     0           1
32437     8865                    35     1           1
32438     8865                    36     1           1

[32439 rows x 4 columns]